#s-skills{
    padding:96px 48px;
}

/* Adicione este CSS ao seu arquivo de estilos ou diretamente no head do seu HTML */
#skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #skills-cards article {
    width: calc(33.33% - 20px); /* Ajuste o tamanho conforme desejado */
    margin-bottom: 20px;
    position: relative; /* Adiciona a posição relativa para que os elementos internos possam ser posicionados corretamente */
  }
  
  .icon-container {
    position: relative; /* Alterado para position: relative para que o .description fique posicionado em relação ao card */
    width: 60px;
    height: 60px;
    display: flex; /* Usamos flexbox para alinhar os elementos verticalmente */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    justify-content: center; /* Alinha os elementos horizontalmente ao centro */
  }
  
  .icon-container img {
    width: 60px;
    height: 60px;
    margin: 0;
  }
  
  .description {
    display: none;
    position: absolute;
    bottom: 5px; /* Move o fundo para a parte inferior do card */
    left: 50%; /* Posiciona o texto no centro horizontal do card */
    transform: translateX(-50%); /* Centraliza horizontalmente o texto em relação ao card */
    width: 100%;
    color: #E94FA5; /* Cor do texto */
    font-size: 12px; /* Tamanho da fonte do texto */
    font-weight: bold; /* Texto em negrito */
    text-align: center;
    padding: 8px 0; /* Espaçamento interno do texto */
    box-sizing: border-box;
  }
  
  /* Estilo do texto quando o mouse passa sobre o elemento */
  .description.show {
    display: block;
  }
  


#skills-cards article {
    transition: transform 0.2s ease-in-out;
  }
  
  #skills-cards article:hover {
    transform: scale(1.1);
  }

@media screen and (max-width: 992px){
    #s-skills{
        padding:48px 24px
    }
}
#s-skills .grid-layout #skills{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    height:auto;
    padding:8px
}
#s-skills .grid-layout #skills div,#s-skills .grid-layout #skills article{
    width:50%
}
@media screen and (max-width: 1200px){
    #s-skills .grid-layout #skills div,#s-skills .grid-layout #skills article{
        width:100%
    }
}

@media screen and (max-width: 768px){
    #s-skills .grid-layout #skills #skills-text{
        min-height:auto
    }
}

@media screen and (max-width: 768px){
    #s-skills .grid-layout #skills #skills-text .changeDescription{
        display:none
    }
}

#s-skills .grid-layout #skills #skills-cards{
    display:flex;
    flex-wrap:wrap;
    gap:24px
}
@media screen and (max-width: 1200px){
    #s-skills .grid-layout #skills #skills-cards{
        margin-top:48px
    }
}
#s-skills .grid-layout #skills #skills-cards article{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    justify-content:center;
    width:20%;
    flex-grow:1;
    height:130px;
    background-color: var(--secondary-color);
    position:relative;
    border:1px solid var(--secondary-color);
    border-radius:4px;
    transition:1s all ease
}

@media screen and (max-width: 768px){
    #s-skills .grid-layout #skills #skills-cards article{
        width:40%
    }
}